/* All html objects will be wrapped in the #wrap div */

$tierAmount: 8;

:root{
	--bar-bevel: 25px;
	--bar-border-color: #000000;
	--bar-border-thickness: 5px;
	--bar-border-style: solid;
	--animate-duration: 1500ms;
	--animate-delay: 1s;

	@for $i from 0 through $tierAmount {
		--tier#{$i}-background: #000000;
		--heart#{$i}-primary: #000000;
		--heart#{$i}-secondary: #000000;
		--heart#{$i}-shine: #000000;
		--heart#{$i}-outline: #000000;
		--heart#{$i}-outline-special: #000000;
	}
}

.bar {
	border-radius: var(--bar-bevel);
	border-style: var(--bar-border-style);
	border-width: var(--bar-border-thickness);
	border-color: var(--bar-border-color);
	box-sizing: border-box;
	flex-wrap: wrap;
	display: flex;
	height: 100%;
	width: 100%;
}

.animate__updown {
	animation-name: updown;
	animation-timing-function: ease;
}
@keyframes updown {
	0%   { transform: translateY(-25%); }
	50%  { transform: translateY(25%); }
	100% { transform: translateY(-25%); }
}

.heart-container {
	position: relative;
	align-self: center;
	height: 9em;
	min-width: 9em;
	padding-left: 1em;
}

.block {
	position: absolute;
}

.heart {
	display: block;
	width: 1.05em;
	height: 1.05em;
}

@mixin fill($primary, $secondary, $shine) {
	box-shadow:
	2em 1em var($primary),
	3em 1em var($primary),
	5em 1em var($primary),
	6em 1em var($primary),

	1em 2em var($primary),
	2em 2em var($shine),
	3em 2em var($primary),
	4em 2em var($primary),
	5em 2em var($primary),
	6em 2em var($primary),
	7em 2em var($primary),

	1em 3em var($primary),
	2em 3em var($primary),
	3em 3em var($primary),
	4em 3em var($primary),
	5em 3em var($primary),
	6em 3em var($primary),
	7em 3em var($primary),

	1em 4em var($secondary),
	2em 4em var($primary),
	3em 4em var($primary),
	4em 4em var($primary),
	5em 4em var($primary),
	6em 4em var($primary),
	7em 4em var($primary),

	2em 5em var($secondary),
	3em 5em var($primary),
	4em 5em var($primary),
	5em 5em var($primary),
	6em 5em var($secondary),

	3em 6em var($secondary),
	4em 6em var($primary),
	5em 6em var($secondary),

	4em 7em var($secondary);
}

@mixin outline($color) {
	box-shadow:
	2em 0em var($color),
	3em 0em var($color),
	5em 0em var($color),
	6em 0em var($color),

	1em 1em var($color),
	4em 1em var($color),
	7em 1em var($color),

	0em 2em var($color),
	8em 2em var($color),

	0em 3em var($color),
	8em 3em var($color),

	0em 4em var($color),
	8em 4em var($color),

	1em 5em var($color),
	7em 5em var($color),

	2em 6em var($color),
	6em 6em var($color),

	3em 7em var($color),
	5em 7em var($color),

	4em 8em var($color);
}

@for $i from 0 through $tierAmount {
	.heart#{$i}-fill {
		@include fill($primary: --heart#{$i}-primary, $secondary: --heart#{$i}-secondary, $shine: --heart#{$i}-shine);
	}
	.heart#{$i}-outline {
		@include outline($color: --heart#{$i}-outline);
	}
	.heart#{$i}-outline-special {
		@include outline($color: --heart#{$i}-outline-special);
	}
}
